body {
	background-color:#182230;
}

#main {
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 97%;
    text-align: center;
		color: #D1F6EF;
		position: absolute;
		font-family: 'Ubuntu', sans-serif;
}

canvas{
    height:300vh;
		width: 100%;
    background-color:#182230;
}
#main h1{
  letter-spacing: 5px;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
	#main {
		width: 94%;
	}

	#main h2{
		font-size: 2rem;
	}

	#main h1 {
		font-size: 3rem;
	}
}

@media screen and (max-width: 640px) {
	#main {
		width: 92%;
	}

	#main h2 {
		font-size: 2rem;
	}

	#main h1 {
		font-size: 3rem;
	}

	canvas{
	    height:320vh;
	}
}

.main__Container {
	position: absolute;
	width: 80%;
	border-radius: 20px;
	margin: 30px 9% 10%;
	height:200vh;
	color: #D1F6EF;
	box-shadow: 3px 3px 7px #1D314C;
	background-color: #181F29;
	font-family: 'Ubuntu', sans-serif;
}

.main__Container p {
	color: #B6CBC7;
	margin: 0 9% 10%;
}

.main__Container hr {
	margin: 0 4% 5%;
	color: #0E876F;
	border-width: medium;
	border-radius: 3px;
}

a {
  color: #93F9E5;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #13D5AE;
}

a:visited {
  color: #50B5A1;
}

@media screen and (max-width: 960px) {
	.main__Container {
		margin: 30px 6% 4%;
		height: 210vh;
	}

	.main__Container h2 {
		font-size: 3rem;
	}

	.main__Container p {
		font-size: 2rem;
	}
}

.projects__Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects__Card {
    margin: 1rem;
    height: 300px;
    width: 300px;
    border-radius: 4px;
    background-image: url(/images/thunder.png), linear-gradient(to bottom, #276DA2 0%, #31546E 100%);
    background-size: cover;
    position: relative;
    color: #fff;
}

.projects__Card:nth-child(2) {
    background-image: url(/images/kc.png), linear-gradient(to bottom, #0185D6 0%, #052872  100%);
}

.projects__Card:nth-child(3) {
    background-image: url(https://i.postimg.cc/bJmfFH7L/image.png), linear-gradient(to bottom, #0185D6 0%, #052872  100%);
}


.projects__Card:hover {
    transform: scale(1.075);
    transition: 0.2s ease;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .projects__Card {
        height: 150px;
        width: 150px;
    }

    .projects__Card_2 {
        height: 150px;
        width: 150px;
    }
}

]footer{
 position: fixed;
 bottom: 0;
}
.footer-distributed{
 background-color: #181F29;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;

 padding: 55px 50px;
 margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}

.footer-distributed .footer-left{
 width: 40%;
}

.footer-distributed h3{
 color:  #D1F6EF;
 font-size: 3rem;
 margin: 0;
}



.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}

.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}

.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}


.footer-distributed .footer-center{
 width: 35%;
}

.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}

.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}

.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}

.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}

.footer-distributed .footer-right{
 width: 20%;
}

.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}

.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}

.footer-distributed .footer-icons{
 margin-top: 25px;
}

.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;

 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;

 margin-right: 3px;
 margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
	.main__Container {
		font-size: 3rem;
		margin: 30px 4% 4%;
		height: 225vh;
	}

	.main__Container p {
		font-size: 2rem;
	}

	.footer-distributed{
	font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	}

	.footer-distributed .footer-center i{
	margin-left: 0;
	}
}
